.description {
  max-width: 370px;
  padding: 20px;

  border: black 3px solid;
  border-radius: 15px;

  background-color: lightgray;
}

.avatar-box {
  margin: 0 auto;

  max-width: 250px;
  padding: 40px;

  background-color: grey;
  border-radius: 50%;
}
.avatar {
  /* width: 40px;
  height: 40px; */
}
.name {
  margin-top: 15px;
  font-weight: 700;
  font-size: 25px;
  text-align: center;
}
.tag,
.location {
  font-size: 15px;
  text-align: center;
  color: darkgray;
}
